<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Anotador de Gastos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
<ion-searchbar placeholder="Buscar Gasto"(ionChange)="buscar($any($event.target).value)" animated="true"></ion-searchbar>
</ion-toolbar>
<ion-content [fullscreen]="true">

  <form (ngSubmit)="onSubmit()">
  <div class="container" > 
    <ion-input type="text"   id="titulo"      placeholder="Titulo"        requerid name="titulo"  [(ngModel)]="model.titulo" #titulo="ngModel"></ion-input>
    <ion-input type="number" id="importe"     placeholder="Importe"       requerid name="importe"  [(ngModel)]="model.importe"#importe="ngModel"></ion-input>
    <ion-input type="text"   id="descripcion" placeholder="Descripción"   requerid name="descripcion"  [(ngModel)]="model.descripcion"#descripcion="ngModel"></ion-input>
    <ion-input type="date"   id="fecha"       placeholder="Fecha"         requerid name="fecha"  [(ngModel)]="model.fecha"#fecha="ngModel"></ion-input>
    <ion-input type="text"   id="categoria"   placeholder="Categoría"     requerid name="categoria" [(ngModel)]="model.categoria"#categoria="ngModel"></ion-input>
    <ion-button type="submit" value=""color="success">Anotar</ion-button>
    </div>
  </form>
  <ion-toolbar>
  <ion-title>
   Lista de gastos
  </ion-title>
</ion-toolbar>
  <ion-list >
    <ion-item *ngFor="let control of gastosfiltrado" >
      <ion-label>{{control.titulo}}</ion-label>
      <ion-label>{{control.importe}}</ion-label>
      <ion-label>{{control.descripcion}}</ion-label>
      <ion-label>{{control.fecha}}</ion-label>
      <ion-label>{{control.categoria}}</ion-label>
    </ion-item>
  </ion-list>
  

</ion-content>
